<h1>FORMULAIRE DE REVIEW</h1>
<h1>formulaire de Review</h1>
<%= simple_form_for [@restaurant, @review] do |f| %>
<%= f.input :content %>
<%= f.submit "envoyer" %>
<% end %>

<%= link_to "retour", restaurant_path(@restaurant) %>
